body{
    background-color:#D2E9E9;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 3%;
}
img{
    height: 145px;
}
h1{
    color: #1F6E8C;
}
h3{
    color: #1F6E8C;
}